
extends layout

block title
    title Content Unavailable

block content
    h1 503
    p Oops! We can not find any published contents yet.
    p.
        Please publish content by using command <code>logecho sync blog-dir/</code>

